### Basics

$A^2$

In [5]:
# import a module
import math

In [6]:
math.sqrt(9)

3.0

In [7]:
# alias 
import math as mt
mt.sqrt(9.0)

3.0

In [10]:
# import some
from math import pi
from math import sin
print(pi)
print(sin(90))
# import all 
from math import *

3.141592653589793
0.8939966636005579

In [ ]:
from math import *
print(sin(90))

In [14]:
# see what's available
dir(mt)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [15]:
cos(90)

-0.4480736161291701

In [17]:
a = 9/2
print(a, type(a))
b = None
print(b, type(b))

4.5 <class 'float'>
None <class 'NoneType'>

In [23]:
x = '1.3'
y = float(x)
print(x, 'before')
print(y)
z = 1.7
print(z)
y = int(z)
print(y)

1.3 before
1.3
1.7
1

### Strings

In [27]:
course = 'Comp2420'
print(len(course))
print(course+'6420')
print(course * 2)
print('isn\'t it awesome')

8
Comp24206420
Comp2420Comp2420
isn't it awesome

### Lists

In [28]:
x = [1,2,'hi',True]
print(x, type(x))

[1, 2, 'hi', True] <class 'list'>

In [29]:
x[0]

1

In [30]:
print(x[:2])

[1, 2]

In [31]:
print(x[2:4])

['hi', True]

In [32]:
print(x[-1])

True

In [33]:
y = [8,100]
x.append(y)
print(x)

[1, 2, 'hi', True, [8, 100]]

In [ ]:
x[4][1]

In [34]:
x = [-1,100, 45, 2, 43]
print(sorted(x))
names = ['Sam', 'Joy', 'Freddie', 'Martin']
print(names)
print(sorted(names, reverse=True))

[-1, 2, 43, 45, 100]
['Sam', 'Joy', 'Freddie', 'Martin']
['Sam', 'Martin', 'Joy', 'Freddie']

### You can slice strings too

In [35]:
course[-1]

'0'

In [36]:
course[1:3]

'om'

### Dictionaries

In [38]:
data = {}

data['k1'] = True
data['x2'] = 2
data[100] = 3.0

In [39]:
print (data,len(data), type(data))

{'k1': True, 'x2': 2, 100: 3.0} 3 <class 'dict'>

In [40]:
data['c'] = [1,2,3,4]
print (data['c'][3])

4

In [41]:
data = {}
data['item1'] = 0
if 'item1' in data:
    data['item1'] = data['item1'] + 100
else:
    data['item1'] = 100
print(data['item1'])

100

In [46]:
print (data.get('doesnt exist', 'lol'))

lol

### if else

In [ ]:
marks = 67
if marks >= 80:
    print('Higher Distinction')
elif marks >=70:
    print("Distinction")
elif marks >=60:
    print("Credit")
elif marks >= 50:
    print("Pass")
else:
    print("Fail")

#### Combining conditions

In [47]:
## make sure you use an elemnt not list
courses = ['Comp2420', 'Comp6420']
course = 'Comp2420'
students = ['u123456', 'u234567', 'u5053816']
student = 'u5053816'
if course in courses and student in students:
    print("Valid Combination")
else:
    print("Invalid Combination")

Valid Combination

In [ ]:
marks = 3
if marks >= 80:
    print('Higher Distinction')
elif marks >=70:
    print("Distinction")
elif marks >=60:
    print("Credit")
elif marks >= 50:
    print("Pass")
elif marks < 0 or marks >100:
    print("Invalid marks")
else:
    print("Fail")

#### Ternary operation

In [ ]:
x = 10 
print("Pass") if x > 50 else print("Fail")

### for, enumerate, list comperhensions

In [ ]:
numbers=[1,3,5,6]
for i in numbers:
    print(i)

#### Enumerate

In [51]:
first_names = ['John', 'Marry', 'Martin']
for index,name in enumerate(first_names):
    print(index, name)

0 John
1 Marry
2 Martin

#### Zip

In [52]:
last_names = ['Smith', 'Powell', 'Cummins']
for index,name in enumerate(zip(first_names,last_names)):
    print(index, name)

0 ('John', 'Smith')
1 ('Marry', 'Powell')
2 ('Martin', 'Cummins')

In [ ]:
last_names = ['Smith', 'Powell', 'Cummins']
for index,name in enumerate(zip(first_names,last_names)):
    print(index, name[0], name[1])

In [54]:
## works even if they are not equal
x = [1,2,3]
y = [4,5]
a = zip(x,y)
### it returns an iterator so 
print(list(a))
for num in a:
    print(num)

[(1, 4), (2, 5)]